<form
  style="padding: 15.5px;  background: -webkit-linear-gradient(to right, #e63b07, #f3f3f3d7); background: linear-gradient(to right, #e63b07, #f3f3f3d7);"
  #AdF="ngForm" (submit)="AddAd(AdF)">
  <div class="container"
    style="padding: 10px; max-width: 500px; width: 100%; margin: 0 auto; position: relative; background: white; border-radius: 10px;">

    <h2 style="text-align: center; margin-top: 20px; margin-bottom: 10px">Ads</h2>


    <div class="form-group">
      <label for="exampleInputEmail1">Ad Title</label>
      <input type="text" autofocus ngModel class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Title" name="adtitle">
    </div>


    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">Start Time</label>
          <input type="datetime-local" autofocus ngModel class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" name="starttiming">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">End Time</label>
          <input type="datetime-local" autofocus ngModel class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" name="endtiming">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Select Poster</label>
      <input type="file" autofocus ngModel class="form-control" (change)="onImagePicked($event)" id="exampleInputEmail1"
        aria-describedby="emailHelp" name="PosterForAd" accept="image/*">
    </div>

    <button type="submit" class="btn btn-primary">DONE</button>
  </div>
</form>