<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<div id="accordion">
  <div class="card" style="padding: 10px;">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="font-family: montserrat; font-size: 20px; color: black; letter-spacing: 2px;">
          BUY ONLINE GLASSES AT BEST PRICE
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Tabeeb E Chasham is one of the largest eyewear store operating in Pakistan. We aspire to bring together affordability and ease in
        online glasses shopping in Pakistan. Trendy eyewear accessorize your looks. With our quality and elegant designs,
        you can now carry your outfit with grace without getting tired of finding the best online glasses in Pakistan. We
        aspire to become your one stop solution to buy glasses online in Pakistan. You can explore our wide collection of
        optical glasses frames, prescription frames and lenses to upgrade your fashion statement. We offer free and fast
        shipping all across Pakistan including Karachi, Lahore, Islamabad, Rawalpindi, Faisalabad, Gujranwala, Multan and
        Peshawar. We also ship internationally all around the world. We know that shopping for frames, sunglasses or glasses
        online in Pakistan is not easy. But with our super fast delivery and premium quality glasses, sunglasses and contact
        lenses; we have ensured that you go through a hassle free online shopping experience to buy online glasses in Pakistan.
        Our prices beats the market as you only get the premium quality product at best prices. We also have some latest
        designs online glasses for sale. Tabeeb E Chashm commits to bring the best quality trendy glasses for men, women, girls
        and boys alike all at affordable prices. We have a huge collection of fashion eyeglasses for men and women. Our online
        glasses and frames for men and ladies are custom made so you can design your optical frames with high definition
        or anti glare lenses. Tabeeb E Chashm has began it's operations to make it easy to buy online glasses in Pakistan. We offer
        different kinds of optical lenses for prescription glasses and frames. These are the best quality anti glare glasses
        which are offered at affordable price in Pakistan. We also use latest high definition UV blocking technology lenses
        that are scratch resistant and light in weight. To offer you the most convenient experience, we have also hired trained
        opticians who can guide you with your prescriptions online.
      </div>
    </div>
  </div>
  <div class="card" style="padding: 10px">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style=" font-family: montserrat; font-size: 20px; letter-spacing: 2px; color: black;">
          ONLINE BEST OPTICAL STORES
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        A lot goes into searching for optical frames and new glasses style in Pakistan. Wandering from one optical shop to another
        for the best fit frames and glasses for men, women or kids can be troublesome. It is a personal experience that may
        fatigue you. That’s why we brought together all the best eyesight glasses and optical frames in Pakistan on our website
        so you can choose your eyesight glasses from the vicinity of your home and also enjoy free home delivery. We are
        among the best optical shops in Lahore, Karachi, Islamabad having extensive online operations. We also have first
        copy replica optical frames. So, you can find almost all the first copy branded glasses frames in our store. Explore
        our wide collection of top glasses brands first copy now. We have all the popular eyewear brands from Carrera, Gucci,
        Prada, Tom Ford, Burberry, Michael-Kors, Versace and many more. You can find all kind of trendy and fashionable glasses
        frames for girl in Pakistan. We also have a wide range of fashion glasses for men and trendy glasses frames for women.
        Some of the most popular glasses frames and glasses brands in Pakistan are, Round glasses Rectangular glasses Cat
        eye glasses Reading glasses Oakley glasses Prada glasses Ray ban glasses Aviators glasses Clubmaster glasses Tom
        ford glasses Wayfarer glasses Gucci frames Parada optical frames
        <b> Lens Glasses for Men and Women in Pakistan </b>
        Hop over to our website to get the latest style glasses frames for men and women. Being one of the best optical shops in
        Lahore, we offer a variety of anti glare glasses or lenses that can be used in prescription glasses and also you
        can turn any sunglasses into prescription glasses. Some of the variety of lenses that we offer includes, Bifocal
        in glass Bifocal in plastic Bifocal with anti-glare plastic Progressive glass(No line in lens) Progressive with anti-glare
        Progressive (cylinder number) anti-glare (Green Coating available) Transition anti-glare progressive (Grey, Brown,
        Green Coating available) *Bifocal and progressive glasses comes in different price range. Every transaction that
        takes place through our platform is 100% secured. To facilitate our customers in Pakistan, Dubai, Canada, USA, UK
        and across the world, we have integrated many secure payment gateways on our website. You have option to pay cash
        on delivery or pay through debit card, credit card, Easy pay and Jazz Cash.
      </div>
    </div>
  </div>
</div>