<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
</head>

<div style="padding: 130px;  background: -webkit-linear-gradient(to right, #e63b07, #f3f3f3d7); background: linear-gradient(to right, #e63b07, #f3f3f3d7);">

  <div class="container" style="padding: 30px; max-width: 500px; width: 100%; margin: 0 auto; position: relative; background: white; border-radius: 10px;">
    <form style="margin:100px,0" #onloginf="ngForm" (submit)="onlogin(onloginf)">
      <h2 style="text-align: center; margin-top: 20px; margin-bottom: 10px">LOG IN</h2>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" autofocus ngModel class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
          name="emailet">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" ngModel required class="form-control" name="passet" id="exampleInputPassword1" placeholder="Password">
      </div>


      <div style="display: flex; justify-content: center; width: 100%">
        <button type="submit" class="btn btn-primary btn-lg justify-content-center" style="background: #ca4c25; color: black">Log In</button>
        <a routerLink="../signup" style="margin-left:20px; margin-top: 10px;">Create New Account</a>
      </div>
    </form>
  </div>
</div>