<h2 style="text-align: center; margin-top: 20px; margin-bottom: 10px">Discounts</h2>

<div class="container">
  <form style="margin-top:30px" #addDiscountF="ngForm" (submit)="addDiscount(addDiscountF)">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">Discount Title</label>
          <input type="email" autofocus ngModel class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Title" name="discouttitle">
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">Discount Percentage</label>
          <input type="email" autofocus ngModel class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Percentage" name="discountpercentage">
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="exampleInputEmail1">Start Time</label>
      <input type="datetime-local" autofocus ngModel class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
         name="starttime">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">End Time</label>
      <input type="datetime-local" autofocus ngModel class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
         name="endtime">
    </div>


    <button type="submit" class="btn btn-primary">DONE</button>
  </form>
</div>