<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>
<div style="height: 100%; padding-left: 20px; padding-right: 20px; padding-top: 50px;  background: -webkit-linear-gradient(to right, #e63b07, #f3f3f3d7); background: linear-gradient(to right, #e63b07, #f3f3f3d7);">
  <div style="background: white; border-radius: 7px; padding-top: 30px;">
    <h2 style="text-align: center;">Order</h2>
    <div class="table-responsive" style="padding-left:30px; padding-right:30px">
      <table class="table table-sm">
        <thead>
          <tr>
            <th></th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let p of product"> -->
            <tr>
            <td><img src="../../assets/Round-Gray-1.jpg" alt="" style="width:100px; height:70px;"></td>
            <!-- <td>{{p.Productname}}</td> -->
            <td>Armani</td>
            <td> <input type="number" min="1" value={{p.qty}} max={{p.noOfItems}} name="quantitiyselected"
                style="width: 50px" (change)="changeQuantity($event)"> </td>
            <td>Rs. {{p.price}}</td>
            <td>Delivered</td>
            <td><button type="button" class="btn btn-primary" (click)="remove(p.Productname)">CANCEL</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>