.wrap{
    margin-left: 25%;
    margin-top: 5%;
    width: 640px;
    height: 480px;
    border : 2px solid gray;
    
  
  }
  .draggableleft{
    width: 60px;
    height: 40px;
    /* background-color: blacK; */
  }
