<form #placeorderF="ngForm" (submit)="PlaceOrder(placeorderF)"
    style="padding-top: 40px; padding-bottom: 40px; padding-left: 20px; padding-right: 20px; background: #4d3031; font-family: monsterra; font-size: 20px;">
    <div style="display: flex; justify-content: center; width: 100%">
        <h4 style="font-family: monsterra; font-size: 30px; color: white">ORDER SUMMARY</h4>
    </div>
    <div>
        <table class="table table-striped" style="border: solid black 2px" style="background: white;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">CUSTOMER DETAILS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">NAME</th>
                    <td>{{customerdetail.NAME}}</td>
                </tr>
                <tr>
                    <th scope="row">ADDRESS</th>
                    <td>{{customerdetail.ADDRESS.Building}} {{customerdetail.ADDRESS.Street}}
                        {{customerdetail.ADDRESS.Landmark}} {{customerdetail.ADDRESS.City}} </td>
                </tr>
                <tr>
                    <th scope="row">MOBILE NUMBER</th>
                    <td>{{customerdetail.ADDRESS.Phone}}</td>
                </tr>
                <tr>
                    <th>EDIT DETAILS</th>
                    <td><button type="button" class="btn btn-outline-dark" routerLink="../addressDetails">EDIT</button></td>
                </tr>
            </tbody>
        </table>
        <!-- <div style="display: flex; width: 30%">
                <p style="font-family: century gothic; color: white;" (click)="changeaddress()">Change Personal Details</p>
            </div> -->
    </div>

    <div>
        <table class="table table-striped" style="border: solid black 2px" style="background: white;">

            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th scope="col">SPHERE</th>
                    <th scope="col">CYLINDER</th>
                    <th scope="col">AXIS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">LEFT EYE</th>
                    <td>{{customerdetail.OpticalSpecifications.Spherical.LeftEye}}</td>
                    <td>{{customerdetail.OpticalSpecifications.Cylinderical.LeftEye}}</td>
                    <td>{{customerdetail.OpticalSpecifications.Axis.LeftEye}}</td>
                </tr>
                <tr>
                    <th scope="row">RIGHT EYE</th>
                    <td>{{customerdetail.OpticalSpecifications.Spherical.RightEye}}</td>
                    <td>{{customerdetail.OpticalSpecifications.Cylinderical.RightEye}}</td>
                    <td>{{customerdetail.OpticalSpecifications.Axis.RightEye}}</td>
                </tr>
                <tr>
                    <th>IPD</th>
                    <td>{{customerdetail.OpticalSpecifications.IPD}}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th>EDIT PRESCRIPTION</th>
                    <td><button type="button" class="btn btn-outline-dark" routerLink="../Prescription">EDIT</button></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>



    </div>

    <div>
        <table class="table " style="border: solid black 2px" style="background: white;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of product.Array">
                    <td><img src="{{p.ProductPhoto}}" alt="" style="width:100px; height: 70px;"></td>
                    <td>{{p.ProductName}}</td>
                    <!-- <td> <input type="number" min="1" value={{p.qty}} max={{p.noOfItems}} name="quantitiyselected" style="width: 50px" (change)="changeQuantity($event)"> </td> -->
                    <td>Rs. {{p.Price}}</td>
                    <!-- <td>{{p.noOfItems}}</td> -->
                    <!-- <td>{{q.password}}</td> -->

                </tr>
                <tr>
                    <th>TOTAL PRICE:</th>
                    <td></td>
                    <td>Rs. {{sum}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div style="display: flex; justify-content: center; width: 100%">
        <button type="button" class="btn btn-outline-light btn-lg justify-content-center"
             (click)="placeorder()">PLACE ORDER</button>
    </div>

</form>