<form #placeorderF="ngForm" (submit)="PlaceOrder(placeorderF)"
  style="padding-top: 40px; padding-bottom: 40px; padding-left: 20px; padding-right: 20px; background: -webkit-linear-gradient(to bottom, #e63b07, #f3f3f3d7); background: linear-gradient(to bottom, #e63b07, #f3f3f3d7); height: 100%;">
  <div style="display: flex; justify-content: center; width: 100%">
    <h4 style="font-family: century gothic; color: black">Order Summary</h4>
  </div>
  <div>
    <table class="table" style="border: solid black 2px" style="background: white;">

      <thead class="thead-dark">
        <tr>
          <th></th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of order.Array">
          <th><img src="{{p.productphoto}}" alt="" style="width: 100px; height: 70px;"></th>
          <td>{{p.productname}}</td>
          <td>{{p.status}}</td>
          <td>Rs.{{p.productprice}}</td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>