<!-- <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>
<app-unavbar></app-unavbar>

<h2 style="background: lightgray; padding: 10px;">MEASURE YOUR PUPILLARY DISTANCE (PD) APP</h2>
<p style="font-family: century gothic; font-size: 15px; padding: 5px;">Pupillary distance (or PD) refers to the distance between your two pupils. It’s necessary to center a prescription in your
  frames for clear, accurate vision. You can use our online tool here to measure your PD using just a webcam or smartphone
  camera. Review the steps below before beginning.</p>

  <div class="row" style="margin: 0%">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="../../assets/imgPd1.jpg" alt="" style="height: 300px; width: 400px; align-content: center; padding: 10px;">
    </div>
    <div class="col-md-6" style="padding: 10px;">
      <p style="font-family: century gothic; font-size: 15px; padding: 5px;">
        1. Take off glasses. Make sure the image is well-lit.
      <br>
<small>It also helps if the background is clean.</small> 
  <br>
      </p>

      <p style="font-family: century gothic; font-size: 15px; padding: 5px;"> 
        2. Adjust your screen, look at the camera.
        <br>
 <small>The angle of the photo is straight-on.</small>

      </p>

      <p style="font-family: century gothic; font-size: 15px; padding: 5px;">
        3. Place any card with a magnetic strip under your nose, then take the photo.
        <br>
        <small>The magnetic strip forms a straight “card moustache”</small>
    
      </p>
    </div>

    <div style="display: flex; justify-content: center; width: 100%">
        <button type="button" class="btn btn-primary btn-lg justify-content-center" style="font-family: century gothic">MEASURE MY PD</button>
    </div>
  </div> -->
  
  <div class="wrap" [ngStyle]="{'background-image': getUrl()}">
    <div class="draggableleft">
      <img src="../../assets/eyeL.png" alt="" >
    </div>
    <div class="draggableright">
        <img src="../../assets/eyeR.png" alt="" >
    </div>
    <div class="cardleft"></div>
    <div class="cardright"></div>
  </div>
  <div>
    <h1></h1>
    <h2></h2>
  </div>