<app-unavbar></app-unavbar>

<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 40px; margin-top: 20px; width: 165px; border: 2px solid #4D3031">
    STYLE
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Hexagonal'}">Hexagonal</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Octagonal'}">Octagonal</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Round'}">Round</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Wayfarer'}">Wayfarer</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Rectangle'}">Rectangle</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Square'}">Square</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Oval'}">Oval</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'CatEye'}">Cat Eye</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Aviator'}">Aviator</a>
    <div class="dropdown-divider"></div>
  </div>
</div>
<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 2px solid #4D3031">
    SIZE
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Small'}">Small</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Medium'}">Medium</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'Large'}">Large</a>
    <div class="dropdown-divider"></div>
  </div>
</div>
<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 2px solid #4D3031">
    RIM
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'FullRim'}">Full Rim</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'HalfRim'}">Half Rim</a>
    <div class="dropdown-divider"></div>
  </div>
</div>
<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 2px solid #4D3031">
    CATEGORY
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" [routerLink]="['/searchproducts']" (click)="productsR()"
      [queryParams]="{ searching: 'mensungalsses'}">Men Sunglasses</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" (click)="productsR()"
      [queryParams]="{ searching: 'womensungalsses'}">Women Sunglasses</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" (click)="productsR()"
      [queryParams]="{ searching: 'meneyeglasses'}">Men Eyeglasses</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" (click)="productsR()"
      [queryParams]="{ searching: 'womeneyeglasses'}">Women Eyeglasses</a>
  </div>
</div>

<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 2px solid #4D3031">
    GENDER
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'menglasses'}">Men</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'womenglasses'}">Women</a>
    <div class="dropdown-divider"></div>
  </div>
</div>

<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 2px solid #4D3031">
    MATERIAL
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'metal'}">Metal</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'plastic'}">Plastic</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'acetate'}">Acetate</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'mixmaterial'}">Mix Material</a>
    <div class="dropdown-divider"></div>
  </div>
</div>

<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 2px solid #4D3031">
    COLOR
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'black'}">Black</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'grey'}">Grey</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'gold'}">Gold</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'red'}">Red</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" [queryParams]="{ searching: 'brown'}">Brown</a>
    <div class="dropdown-divider"></div>
  </div>
</div>


<app-searchproducts></app-searchproducts>