<app-unavbar></app-unavbar>

<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 40px; margin-top: 20px; width: 165px; border: 4px solid #4D3031">
    STYLE
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Hexagonal</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Octagonal</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Round</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Wayfarer</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Rectangle</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Square</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Oval</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Cat Eye</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Aviator</a>
    <div class="dropdown-divider"></div>
  </div>
</div>
<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 4px solid #4D3031">
    SIZE
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Small</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Medium</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Large</a>
    <div class="dropdown-divider"></div>
  </div>
</div>
<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 4px solid #4D3031">
    RIM
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Full Rim</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Half Rim</a>
    <div class="dropdown-divider"></div>
  </div>
</div>
<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 4px solid #4D3031">
    CATEGORY
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" [routerLink]="['/searchproducts']" (click)="productsR()"
      [queryParams]="{ searching: 'mensungalsses'}">Men Sunglasses</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" (click)="productsR()"
      [queryParams]="{ searching: 'womensungalsses'}">Women Sunglasses</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" (click)="productsR()"
      [queryParams]="{ searching: 'meneyeglasses'}">Men Eyeglasses</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/searchproducts']" (click)="productsR()"
      [queryParams]="{ searching: 'womeneyeglasses'}">Women Eyeglasses</a>
  </div>
</div>

<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 4px solid #4D3031">
    GENDER
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Men</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Women</a>
    <div class="dropdown-divider"></div>
  </div>
</div>

<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 4px solid #4D3031">
    MATERIAL
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Metal</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Plastic</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Acetate</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Mix Material</a>
    <div class="dropdown-divider"></div>
  </div>
</div>

<div class="btn-group">
  <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" style="margin-left: 20px; margin-top: 20px; width: 165px; border: 4px solid #4D3031">
    COLOR
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Black</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Grey</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Gold</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Red</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Brown</a>
    <div class="dropdown-divider"></div>
  </div>
</div>


<app-searchproducts></app-searchproducts>