<!-- <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
  </head>
  
  <nav class="navbar navbar-dark sticky-top bg-danger flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-10 mr-0" href="">Tabeeb E Chashm</a>
   
    <ul class="navbar-nav">
      <li class="">
        <a class="nav-link" routerLink="cart">Cart</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="" style="margin-right: 10px;">
        <a class="nav-link" (click)="logout()">Signout</a>
      </li>
    </ul>
  </nav> -->

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</head>
<div>
  <h1 align="center"
    style="font-family: impact; background: #ec874c; padding: 10px; margin: 0px; font-weight: bold;  letter-spacing: 5px;">
    Tabeeb E Chashm</h1>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
       aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="home()">HOME</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          EYEGLASSES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/']" (click)="productsR()" [queryParams]="{ order: 'men'}">Men's
            Eyeglasses</a>
          <a class="dropdown-item" [routerLink]="['/']" (click)="productsR()" [queryParams]="{ order: 'women'}">Women's
            Eyeglasses</a>
          <!-- <div class="dropdown-divider"></div> -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          SUNGLASSES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/']" (click)="productsR()" [queryParams]="{ order: 'men'}">Men's
            Sunglasses</a>
          <a class="dropdown-item" [routerLink]="['/']" (click)="productsR()" [queryParams]="{ order: 'men'}">Women's
            Sunglasses</a>
          <!-- <div class="dropdown-divider"></div> -->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="PDclick()">MEASURE PD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="wishclick()">WISHLIST<span class="badge badge-pill badge-secondary">5</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="cartclick()">CART<span class="badge badge-pill badge-secondary">2</span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button *ngIf="!loggedin" class="btn btn-outline my-2 my-sm-0" (click)="loginclick()"> Login</button>
      <button *ngIf="loggedin" class="btn btn-outline my-2 my-sm-0" (click)="logout()">Signout</button>
    </form>

  </div>
</nav>