<!-- <nav class="navbar navbar-dark sticky-top bg-danger flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-3 mr-0" href="#">Tabeeb E Chashm</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click)="logout()">Sign out</a>
    </li>
  </ul>
</nav> -->


<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</head>

<div style="display: flex; justify-content: center; width: 100%; background: #4D3031;">
  <!-- <h1 align="center"
    style="font-family: montserrat; background: #ec874c; padding: 20px; margin: 0px; font-weight: bold; color: white; text-shadow:3px 3px 5px black;">
    TABEEB E CHASHM</h1> -->
    <img class="justify-content-center" src="../../assets/logoNew.png" alt="" style="width: 150px; height: 150px; padding: 10px;">
</div>


<nav class="navbar navbar-expand-lg" style="background: #4D3031; color: white; font-family: montserrat; font-size: 17px; letter-spacing: 2px;">
  <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="border: 1px solid white; border-radius: 4px; margin-left: 15px; padding: 3px;">
          PRODUCT MANAGEMENT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/main" style="color: black;">ADD PRODUCT</a>
          <a class="dropdown-item" routerLink="productdetail" style="color: black;">DELETE PRODUCT</a>
          <!-- <div class="dropdown-divider"></div> -->
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="ordermanagement" style="border: 1px solid white; border-radius: 4px; margin-left: 15px; padding: 3px;">ORDERS DETAILS</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="Ads" style="border: 1px solid white; border-radius: 4px; margin-left: 15px; padding: 3px;">AD MANAGEMENT</a>
      </li>

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="discount">DISCOUNT MANAGEMENT</a>
      </li> -->

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">SEARCH</button>
      <button class="btn btn-outline my-2 my-sm-0" (click)="logout()" style="color: white; font-family: montserrat; font-size: 20px; letter-spacing: 2px;" >SIGNOUT</button>
    </form>

  </div>
</nav>